/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*THE MINIFIED RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*self clearfixing*/
section:before, section:after, article:before, article:after {clear: both; content: ""; display: table;}
/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


*{ box-sizing: border-box; }

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* *** HEADER SECTION *** */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #707070;
    width: 1050px;
    margin: 0 auto;
}

header .logo-container{
    font-size: 16px;
    font-weight: 600;
}

header nav{
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: auto 0px;

}
header .logo-container, header nav{
    padding: 40px;
    /*font-size:;*/
    text-transform: uppercase;
}
header .logo{
    /*width: 100px;*/
    display: flex;
    align-items: center;
    /*margin: auto 100px;*/
}
header .logo img{
    padding: 3px;
}
header a{
    text-decoration: none;
    color: #505050;
}

/* *** BANER SECTION *** */

.baner-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/background.png");
    background-position: center 90%;
    background-size: cover;
    height: 550px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}

.baner-section h1{
    font-size: 60px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
    line-height: 70px;
}
.baner-section p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 2px;
}

.baner-section button{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; 
    background-color: #7ec479;
    border: none;
    border-radius: 40px;
    padding: 20px 40px;
}



/* *** SERVICES SECTION *** */

.services-section{
    height: 500px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 15% 23% 23% 23% 15%; 
    grid-template-rows: 45% 55%; 
}
.services-section hgroup{
    /*height: 250px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
}
.services-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.services-section hgroup p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}
.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*max-width: 900px;*/
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}
.services-item{
    height: 300px;
    display: grid;
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*grid-template-rows: 20% 20% 20% 20% 20%; */
    grid-template-rows: 10% 30% 10% 30% 30%; 
}
.services-item h3{
    text-transform: uppercase; 
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    grid-row-start: 3;
    grid-row-end: 4;
}
.services-item img{
    grid-row-start: 2;
    grid-row-end: 3;
    /*width: 50px;*/
    /*height: auto;*/
    margin: 0px auto;
}
.services-item p{
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    padding: 0px 18px;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.55;
}





















