*{ box-sizing: border-box; }

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    }
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* window.pageYOffset is always 0 with overflow-x: hidden on body, html */
.body-content{
    overflow-x: hidden; 
}
/* *** HEADER SECTION *** */

header{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 23% 23% 23% auto;
        grid-template-columns: auto 23% 23% 23% auto; 
    -ms-flex-pack: justify; 
        justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #fff;
    color: #707070;
    margin: 0 auto;
}
.fixed-naw1{
    height: 0px;
    overflow: hidden;

}
.fixed-nav{
    position: fixed;
    top: 0;
    z-index: 9999;
    opacity: .8;
    height: 50px;
    transition: all .2s ease-out;
}
#back-top{
    width: 50px;
    height: 50px;
    background-color: #1C1E20;
    opacity: .8; 
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    display: none;
}
#back-top:after{
    position: absolute;
    content: '';
    z-index: 1;
    right: 20%;
    top: 0;
    border: solid 15px transparent;
    border-bottom-color: #F8F8F8; 
}
#back-top:before{
    position: absolute;
    content: '';
    z-index: 2;
    right: 20%;
    top: 10%;
    border: solid 15px transparent;
    border-bottom-color: #1C1E20; 
}
#back-top:hover{
    opacity: .2; 

}

/* hamburger menu */
.hamburger{
    width: 40px;
    height: 35px;
    border-top: 5px solid #1C1E20;
    opacity: .7;
    background-color: transparent;
    position: relative;
    transition: transform .2s ease-out;
    display: none;
}
.hamburger::after, .hamburger::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #1C1E20;
}
.hamburger::before{
    transform: translateY(10px);
}
.hamburger::after{
    transform: translateY(25px);
}
.hamburger:hover{
    transform: rotate(45deg) translateY(5px);
    border: none;
    transition: transform .15s ease-out;
}
.hamburger:hover:after{
    transform: rotate(-90deg) translateX(-10px);
    transition: transform .15s ease-out;
}

header .logo-container{
    font-size: 16px;
    font-weight: 600;
    grid-column: 2/3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;

}
header nav{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    list-style-type: none;
    grid-column: 3/5;
}
header nav a:hover{
    color: #000;
}
header nav{
/*    align-self: flex-end;
*/}
header .logo-container, header nav{
    /*padding: 40px;*/
    /*font-size:;*/
    text-transform: uppercase;
}
header .logo{
    /*width: 100px;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin: auto 100px;
}
header .logo img{
    padding: 3px;
}
header a{
    text-decoration: none;
    color: #505050;
}
header nav a{
    text-decoration: none;
    color: #939393;
    padding: 1rem;
}

/* *** BANER SECTION *** */

.baner-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background.png");
    background-position: center 90%;
    background-size: cover;
    height: 550px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    padding: 30px 0px;
}
.baner-margin{
        margin-top: 100px;
}
.baner-section h1{
    font-size: 60px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
    line-height: 70px;
}
.baner-section p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 2px;
}

/* *** BUTTONS *** */

.btn{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; 
    background-color: #7ec479;
    border: none;
    border-radius: 40px;
    padding: 20px 40px;
    font-weight: 500;
}
.btn:hover{
    color: #1C1E20;
    background-color: #fff;
    transition: color .1s ease-in-out, background-color .1s ease-in-out
}
/* *** GRID *** */
.sect-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 23% 23% 23% auto;
        grid-template-columns: auto 23% 23% 23% auto; 
}


/* *** SERVICES SECTION *** */

.services-section{
    height: 500px;
    background-color: #fff;
    -ms-grid-rows: 45% 55%;
        grid-template-rows: 45% 55%; 
}
.services-section hgroup{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    line-height: 40px;
    -ms-flex-align: center;
        align-items: center;
    grid-row: 1/2;
    grid-column: 2/5;
}
.services-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.services-section hgroup p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}
.services-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    grid-row: 2/3;
    grid-column: 2/5;
}
.services-item{
    height: 300px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 30% 10% 30% 30%;
        grid-template-rows: 10% 30% 10% 30% 30%; 
}
.services-item h3{
    text-transform: uppercase; 
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    grid-row: 3/4;
}
.services-item img{
    grid-row: 2/3;
    /*width: 50px;*/
    /*height: auto;*/
    margin: 0px auto;
}
.services-item p{
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    padding: 0px 18px;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.55;
}

/* *** RELAX SECTION *** */
.relax-section{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
}
.relax-container-img{
    background-image: url(../images/background-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1/2;
}

.relax-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background-2.png");
    background-position: center 90%;
    background-size: cover;
    height: 600px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: start;
        align-items: flex-start;
    padding: 80px 100px 60px 100px;
}

.relax-container h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: left;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 10px;
}
.relax-container span{
    color: #7ec479;
}
.relax-container p{
    line-height: 26px;
}
.relax-container p, ul{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    max-width: 550px;
}
.relax-container li{
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}
.relax-container li::before{
    content: url("../images/check-icon.png");
    padding: 5px 15px 5px 0px;
    display: inline-block;
}

.relax-section button{
    margin-top: 30px;
}

/* *** PROJECT SECTION *** */

.project-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 775px;
    background: url(../images/background-4-tabl.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}
.project-section hgroup{
    height: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    line-height: 40px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
}
.project-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.project-section hgroup p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}
.project-content{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 40% 30% 15%;
        grid-template-columns: 15% 40% 30% 15%;
}
.project-container, .project-item{
    grid-column: 2/3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
}
.project-container > h3{
    text-transform: uppercase;
    padding-bottom: 20px;
}
.project-container >p{
    padding: 0px 40px 20px 0px;
}
.project-container h3{
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
.project-section p{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.55;
}
.project-item{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 10px;
}
.project-item-img{    
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 15px;
    margin: 5px 15px 5px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.project-item-img img{    
    height: 40px;
}
.project-item-hp{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    height: 70px;
}
.project-container button{
    background-color: #fff;
    border: none;
    color: #7ec479;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
    position: relative;
}
.project-container button:hover{
    color: #1C1E20;
    transform: translateX(60px);
    transition: color .1s ease-in-out, transform .5s ease-in-out;
}
/* ARROW HOVER EFFECT  */
/*.project-container button:after{
    position: absolute;
    content: '';
    border: 1px solid #7ec479;
    box-shadow: 0px 0px .2px .3px #7ec479;
    width: 10px;
    top: 8px;
    right: 1px;
}
.project-container button i:hover{
    transform: translateX(10px);
}
.project-container button:hover{
    transition: transform;    
}*/

/* *** CULTURE SECTION *** */

.culture-section{
    background-color: #F8F8F8;
}

.culture-section hgroup{
    height: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    line-height: 40px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    grid-column: 2/5;
}
.culture-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.culture-section hgroup p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}
.culture-container{
    grid-column: 2/5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.culture-item{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 10px 25px;
    text-align: center;
    margin-bottom: 60px;
}
.culture-item-img{
    width: 80px;
    height: 80px;
    border: 2px solid #8a8a8a;
    border-radius: 50%;
    padding: 15px;
    margin: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    opacity: 0.7
}
.culture-container h3{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
}
.culture-container p{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.55;
}
.culture-item{
    position: relative;
}
.culture-item:not(:last-of-type)::after{
    position: absolute;
    content: '';
    border: 0.6px solid #8a8a8a;
    width: 60%;
    left: 70%;
    top: 25%;
}

/* *** CLIENTS SECTION *** */
.clients-section{
    height: 775px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%; 
    margin-bottom: 60px;
}
.clients-section hgroup{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    line-height: 40px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    grid-column: 2/5;
}
.clients-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.clients-section hgroup p, .clients-opinion{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}

.clients-container{
    grid-column: 2/5;
    grid-row: 2/4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.clients-item{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    /*position: relative;*/

}
.clients-item img{
    border-radius: 50%;
    width: 25vw;
    max-width: 250px;
    height: 25vw;
    max-height: 250px; 
    -ms-flex-pack: center; 
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.clients-opinion{ 
    background-color: #F8F8F8;
    margin: 50px;
    padding: 50px;
    line-height: 30px;
    position: relative;
}
.cli-name{
    color: #7ec479;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

/* opinion - arrow */
.clients-item .cli-1::before{
    position: absolute;
    content: '';
    /*z-index: 1;*/
    left: -30px;
    top: 45%;
    border: solid 15px transparent;
    border-right-color: #F8F8F8;    
}
.clients-item .cli-2::after{
    position: absolute;
    content: '';
    /*z-index: 1;*/
    right: -30px;
    top: 45%;
    border: solid 15px transparent;
    border-left-color: #F8F8F8;    
}

/* *** NEXT-PROJECT SECTION *** */

.next-project-section{
    height: 250px;
    background-color: #7ec479;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.next-project-section h2{
    font-size: 36px;
    color: #fff;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700; 
}
.next-project-section button{
    background-color: #7ec479;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: 30px;
}
.next-project-section button:hover{
    color: #7ec479;
    background-color: #fff;
    transition: color .1s ease-in-out, background-color .1s ease-in-out    
}

/* *** WEBSITES SECTION *** */

.websites-section{
    height: 175px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.websites-section img{
    margin: 0px 20px; 
}

/* *** FOOTER SECTION *** */

.footer-section{
    color: #fff;
    background-color: #1C1E20;
    height: 350px;
    grid-column-gap: 25px;
    padding-top: 25px; 
}
.footer-section .contact-container{
    grid-column: 2/3;
}
.posts-container{
    grid-column: 3/4;
}
.tweets-container{
    grid-column: 4/5;
}
.contact-container h3, .posts-container h3, .tweets-container h3{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0px;
}
.contact-container a, .posts-container a, .tweets-container a, .tweet-date{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    text-decoration: none;
    line-height: 24px;
    text-transform: capitalize;
}
.footer-section a[href*="hashtag"], a[href*="mailto"]{
    text-transform: lowercase;
}
.footer-section a[href*="hashtag"]{
    font-weight: 400;
}
.footer-section .tweet-date{
    font-size: 12px;
    text-transform: lowercase;
}
.contact-container li, .posts-container li, .tweets-container li{
    list-style-type: none;
    padding: 10px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.contact-container, .posts-container, .tweets-container, .tweets-item{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
}
.contact-container img, .posts-container img, .tweets-container img{
    float: left;
    width: 35px;
    height: auto;
    padding-right: 10px;
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.contact-container img[src*="icon-mail"]{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.posts-container img[src*="icon-media"]{
    transform: scale(0.8);
}
.tweets-container img{
    padding-top: 5px;
}
.contact-container a:hover, .posts-container a:hover, .tweets-container a:hover{
    opacity: 1;
    text-decoration: underline;
    transition: opacity .3s ease-out, text-decoration .3s ease-out;
}

/* *** FOOTER *** */
footer{
    height: 100px;
    background-color: #fff;
}
footer .social-container, .copyright-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
footer .copyright-container{
    grid-column: 2/3; 
}
footer .social-container{
    grid-column: 3/4; 
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}
footer .social-container a{
    padding: 15px;
    width: 40px;
    height: 40px;
    background-color: #1C1E20;
    border-radius: 50% ;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    margin: 5px;
}
footer .social-container a:hover {
    background-color: #9e9e9e;
    box-shadow: 0px 0px 3px #1C1E20;
    transition: background-color .1s ease-out, box-shadow .1s ease-out;
}



/* ***  MEDIA QUERIES #1 *** */



@media screen and (max-width: 1200px) {

    /* *** GRID *** */
    .sect-grid{
        -ms-grid-columns: auto 26% 26% 26% auto;
            grid-template-columns: auto 26% 26% 26% auto; 
    }
    header .logo{
        margin: auto 5vw;
    }
    .baner-section{
        height: 500px;
        padding: 0px;
    }
    .services-item{
        height: 250px;
        display: -ms-grid;
        display: grid;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .services-section{
        padding-top: 15px;
        height: 450px;
        -ms-grid-rows: 33% 67%;
            grid-template-rows: 33% 67%; 
    }
    .culture-item:not(:last-of-type)::after{
        width: 15vw;
        left: 70%;
        top: 20%;
        }
    .clients-section{
        height: 725px;
        display: -ms-grid;
        display: grid;
        margin-bottom: 60px;
    }
    .clients-opinion{ 
        grid-column: 3/5;
        margin: 20px;
        padding: 20px;
    }
      .clients-item .cli-1::before{
        left: -30px;
        top: 40%;
        }
      .clients-item .cli-2::after{
        right: -30px;
        top: 40%;
        }

    .relax-container{
        height: 550px;
        padding: 20px 50px 30px 50px;
    }
    .relax-section button {
        margin-top: 10px;
    }
    .project-section hgroup{
        height: 150px;
    }
    .project-content{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 10% 60% 20% 10%;
            grid-template-columns: 10% 60% 20% 10%;
    }

    .footer-section{
        height: 400px;
        grid-column-gap: 5px;
        padding-top: 15px; 
    }
  .websites-section {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        height: auto;
        margin: 20px;
    }
    .websites-section img{
        margin: 10px;
    }


}



/* ***  MEDIA QUERIES #2 *** */



@media screen and (max-width: 768px) {
    header nav{
        display: none;
    }
    .hamburger{
        display: inline-block;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        right: -45vw;
    }
    .sect-grid{
        -ms-grid-columns: auto 32% 32% 32% auto;
            grid-template-columns: auto 32% 32% 32% auto; 
    }
    .relax-container-img{
        display: none;
    }
    .relax-container{
        grid-column: 1/3;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-align: center;
            align-items: center;
    }
    .relax-container, .relax-container h2{
        text-align: center;
    }
    .project-section{
        background: none;    
        height: 750px;

    }
    .culture-item:not(:last-of-type)::after{
        width: 15vw;
        left: 75%;
        top: 20%;
    }
    .clients-section{
        height: 700px;
        -ms-grid-rows: 20% 40% 40%;
            grid-template-rows: 20% 40% 40%; 
        margin-bottom: 25px;
    }
    .clients-container{
        -ms-flex-pack: distribute;
            justify-content: space-around;
   }
    .clients-opinion{ 
        grid-column: 3/5;
        margin: 20px;
        padding: 20px;
    }
      .clients-item .cli-1::before{
        left: -30px;
        top: 40%;
        }
      .clients-item .cli-2::after{
        right: -30px;
        top: 40%;
        }

    .websites-section {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        height: auto;
        margin: 20px;
    }
    .websites-section img{
        margin: 10px;
    }

    .footer-section{
        height: auto;
        padding: 0px 30px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
    }
    .contact-container, .posts-container, .tweets-container, .tweets-item{
        padding: 15px 0px;
    }
    .contact-container li, .posts-container li, .tweets-container li{
        padding: 0px 30px;
    }
    footer{
        height: auto;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 5px 0px;
    }
    footer .social-container, .copyright-container {
        padding: 5px;
    }
    footer .social-container{
        -ms-flex-order: -1;
            order: -1;
    }
}



/* ***  MEDIA QUERIES #3 *** */

/* *** MOBILE *** */


@media screen and (max-width: 640px) {
    .sect-grid{
        -ms-grid-columns: auto 33% 33% 33% auto;
            grid-template-columns: auto 33% 33% 33% auto; 
    }
    header{
        height: 60px;
        padding: 10px;
    }
    .baner-section {
        height: auto;
        width: 100%;
        padding: 15px 10px;
    }
    .baner-section h1{
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 10px;
    }
    .baner-section p{
        text-align: center;
        padding: 10px;
    }
    .btn{
        margin: 10px;
        padding: 15px 35px;
        font-size: .8rem;
    }
    section{
        height: auto !important;
    }
    .services-section h2, .relax-container h2, .project-section h2, .culture-section h2, .clients-section h2, .next-project-section h2{
        font-size: 1.8rem;
        padding: 10px;
        -ms-flex-positive: 2;
            flex-grow: 2;
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
                line-height: 2.3rem;
    }
    .services-section hgroup p, .relax-container hgroup p, .project-section hgroup p, .culture-section hgroup p, .clients-section hgroup p, .next-project-section hgroup p{
        font-size: 1.1rem;
        padding: 10px;
        text-align: center;
        -ms-flex-positive: 1;
            flex-grow: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
    }
    .services-section hgroup, .relax-container hgroup, .project-section hgroup, .culture-section hgroup, .clients-section hgroup, .next-project-section hgroup{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        padding: 10px;
        line-height: 2rem;
    }
    .services-section, .relax-container, .project-section, .culture-section, .clients-section, .next-project-section{
        padding: 10px 0px;
    }
    .services-container{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-align: center;
            align-items: center;
        padding: 10px;
    }
    .services-item{
        height: 200px;
        padding: 10px 0px;
    }
    .relax-container{
        min-height: 600px;
    }  
    .relax-container hgroup{
        padding: 10px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    }    
    .relax-container h2, .relax-container p{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        padding: 10px;
        /*height: 400px;*/
    }
    .relax-section button, .btn{
        margin: 20px;
    }
    .project-container{
        -ms-flex-align: center;
            align-items: center;
    }
    .project-content, .project-item, .project-item-hp{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        padding: 10px;
        text-align: center;
    }
    .project-container > h3, .project-container >p, .project-item-hp h3{
        padding: 10px;
        text-align: center;
    }
    .project-item-img{
        margin: 10px;
    }
    .project-item + p{
        margin: 10px;
    }
    .project-container button{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        margin-bottom: 10px; 
    }
    .culture-container{
        -ms-flex-direction: column;
            flex-direction: column;
        margin-bottom: 10px;
    }
    .culture-item{
        padding: 10px;
        margin: 0px;
    }
    .culture-item:not(:last-of-type)::after{
        display: none;
    }
    .clients-item{
        -ms-flex-direction: column;
            flex-direction: column;
    }    
    .clients-item img{
        width: 50vw;
        height: 50vw;
    }
    .clients-item .cli-1::before{
        display: none;
    }
    .clients-opinion{
        /*margin: 10px;*/
        /*padding: 10px;*/
        line-height: 25px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        text-align: center;
    }
    .clients-item .cli-2{  
        -ms-flex-order: 1;  
            order: 1; 
    }
    .next-project-section{
        padding: 10px;
    }
    .next-project-section button, .websites-section{
        margin: 10px;
    }
    footer .social-container a{
        width: 30px;
        height: 30px;
    }

}













