/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*THE MINIFIED RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*self clearfixing*/
section:before, section:after, article:before, article:after {clear: both; content: ""; display: table;}
/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


*{ box-sizing: border-box; }

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* *** HEADER SECTION *** */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #707070;
    width: 1050px;
    margin: 0 auto;
}

header .logo-container{
    font-size: 16px;
    font-weight: 600;
}

header nav{
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: auto 0px;

}
header .logo-container, header nav{
    padding: 40px;
    /*font-size:;*/
    text-transform: uppercase;
}
header .logo{
    /*width: 100px;*/
    display: flex;
    align-items: center;
    /*margin: auto 100px;*/
}
header .logo img{
    padding: 3px;
}
header a{
    text-decoration: none;
    color: #505050;
}

/* *** BANER SECTION *** */

.baner-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background.png");
    background-position: center 90%;
    background-size: cover;
    height: 550px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}

.baner-section h1{
    font-size: 60px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
    line-height: 70px;
}
.baner-section p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 2px;
}

.baner-section button{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; 
    background-color: #7ec479;
    border: none;
    border-radius: 40px;
    padding: 20px 40px;
    font-weight: 500;
}



/* *** SERVICES SECTION *** */

.services-section{
    height: 500px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 15% 23% 23% 23% 15%; 
    grid-template-rows: 45% 55%; 
}
.services-section hgroup{
    /*height: 250px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    align-items: center;
    grid-row: 1/2;
    grid-column: 2/5;
}
.services-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.services-section hgroup p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}
.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*max-width: 900px;*/
    grid-row: 2/3;
    grid-column: 2/5;
}
.services-item{
    height: 300px;
    display: grid;
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*grid-template-rows: 20% 20% 20% 20% 20%; */
    grid-template-rows: 10% 30% 10% 30% 30%; 
}
.services-item h3{
    text-transform: uppercase; 
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    grid-row: 3/4;
}
.services-item img{
    grid-row: 2/3;
    /*width: 50px;*/
    /*height: auto;*/
    margin: 0px auto;
}
.services-item p{
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    padding: 0px 18px;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.55;
}

/* *** RELAX SECTION *** */
.relax-section{
    display: grid;
    grid-template-columns: 30% 70%;
}
.relax-container-img{
    background-image: url(../images/background-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1/2;
}

.relax-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background-2.png");
    background-position: center 90%;
    background-size: cover;
    height: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 80px 100px 60px 100px;
}

.relax-container h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: left;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 10px;
}
.relax-container span{
    color: #7ec479;
}
.relax-container p{
    line-height: 26px;
}
.relax-container p, ul{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    max-width: 550px;
}
.relax-container li{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.relax-container li::before{
    content: url("../images/check-icon.png");
    padding: 5px 15px 5px 0px;
    display: inline-block;
}

.relax-section button{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; 
    background-color: #7ec479;
    border: none;
    border-radius: 40px;
    padding: 20px 40px;
    margin-top: 30px;
    font-weight: 500;
}

/* *** PROJECT SECTION *** */

.project-section {
    display: flex;
    flex-direction: column;
    height: 775px;
    background: url(../images/background-4-tabl.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}
.project-section hgroup{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    align-items: center;
    align-self: center;
}
.project-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.project-section hgroup p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}
.project-content{
    display: grid;
    grid-template-columns: 15% 40% 30% 15%;
}
.project-container, .project-item{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.project-container > h3{
    text-transform: uppercase;
    padding-bottom: 20px;
}
.project-container >p{
    padding: 0px 40px 20px 0px;
}
.project-container h3{
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
.project-section p{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.55;
}
.project-item{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    padding-bottom: 10px;
}
.project-item-img{    
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 15px;
    margin: 5px 15px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item-img img{    
    height: 40px;
}
.project-item-hp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70px;
}
.project-container button{
    background-color: #fff;
    border: none;
    color: #7ec479;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
}

/* *** CULTURE SECTION *** */

.culture-section{
    background-color: #F8F8F8;
}

.culture-section hgroup{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    align-items: center;
    align-self: center;
    grid-column: 2/5;
}
.culture-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.culture-section hgroup p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}
.culture-section{
    display: grid;
    grid-template-columns: auto 23% 23% 23% auto; 
}
.culture-container{
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.culture-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    text-align: center;
    margin-bottom: 60px;
}
.culture-item-img{
    width: 80px;
    height: 80px;
    border: 2px solid #8a8a8a;
    border-radius: 50%;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7
}
.culture-container h3{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
}
.culture-container p{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.55;
}
.culture-item{
    position: relative;
}
.culture-item:not(:last-of-type)::after{
    position: absolute;
    content: '';
    border: 0.6px solid #8a8a8a;
    width: 60%;
    left: 70%;
    top: 25%;
}

/* *** CLIENTS SECTION *** */
.clients-section{
    height: 775px;
    display: grid;
    grid-template-columns: 10% 26% 26% 26% 10%; 
    grid-template-rows: 33% 33% 33%; 
    margin-bottom: 60px;
}
.clients-section hgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    align-items: center;
    align-self: center;
    grid-column: 2/5;
}
.clients-section h2{
    font-size: 36px;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700;
}
.clients-section hgroup p, .clients-opinion{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.55;
}

.clients-container{
    grid-column: 2/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clients-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.clients-item img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.clients-opinion{ 
    width: 550px;
    background-color: #F8F8F8;
    margin: 50px;
    padding: 50px;
    line-height: 30px;
}
.cli-name{
    color: #7ec479;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

/* opinion - arrow */
.clients-item .cli-1::before{
    position: absolute;
    content: '';
    z-index: 1;
    left: 270px;
    top: 110px;
    border: solid 15px transparent;
    border-right-color: #F8F8F8;    
}
.clients-item .cli-2::after{
    position: absolute;
    content: '';
    z-index: 1;
    right: 270px;
    top: 110px;
    border: solid 15px transparent;
    border-left-color: #F8F8F8;    
}

/* *** NEXT-PROJECT SECTION *** */

.next-project-section{
    height: 250px;
    background-color: #7ec479;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next-project-section h2{
    font-size: 36px;
    color: #fff;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 700; 
}
.next-project-section button{
    background-color: #7ec479;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: 30px;
}

/* *** WEBSITES SECTION *** */

.websites-section{
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.websites-section img{
    margin: 0px 20px; 
}

/* *** FOOTER SECTION *** */

.footer-section{
    color: #fff;
    background-color: #1C1E20;
    height: 350px;
    display: grid;
    grid-template-columns: auto 23% 23% 23% auto; 
    grid-column-gap: 25px;
    padding-top: 25px; 
}
.footer-section .contact-container{
    grid-column: 2/3;
    /*padding: 10px 25px;*/
}
.posts-container{
    grid-column: 3/4;
}
.tweets-container{
    grid-column: 4/5;
}
.contact-container h3, .posts-container h3, .tweets-container h3{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0px;
}
.contact-container a, .posts-container a, .tweets-container a, .tweet-date{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    opacity: 0.8;
    text-decoration: none;
    line-height: 24px;
    text-transform: capitalize;
}
.footer-section a[href*="hashtag"], a[href*="mailto"]{
    text-transform: lowercase;
}
.footer-section a[href*="hashtag"]{
    font-weight: 400;
}
.footer-section .tweet-date{
    font-size: 12px;
    text-transform: lowercase;
}
.contact-container li, .posts-container li, .tweets-container li{
    list-style-type: none;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container, .posts-container, .tweets-container, .tweets-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact-container img, .posts-container img, .tweets-container img{
    float: left;
    width: 35px;
    height: auto;
    padding-right: 10px;
    align-self: flex-start;
}
.contact-container img[src*="icon-mail"]{
    align-self: center;
}
.posts-container img[src*="icon-media"]{
    transform: scale(0.8);
}
.tweets-container img{
    padding-top: 5px;
}
.contact-container a:hover, .posts-container a:hover, .tweets-container a:hover{
    opacity: 1;
    text-decoration: underline;
    transition: opacity .3s ease-out, text-decoration .3s ease-out;
}

/* *** FOOTER *** */
footer{
    height: 100px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 26% 26% 26% auto; 
}
footer .social-container, .copyright-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer .copyright-container{
    grid-column: 2/3; 
}
footer .social-container{
    grid-column: 3/4; 
    display: flex;
    justify-content: center;
}
footer .social-container a{
    padding: 15px;
    width: 40px;
    height: 40px;
    background-color: #1C1E20;
    border-radius: 50% ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
footer .social-container a:hover {
    background-color: #9e9e9e;
    box-shadow: 0px 0px 2px 1px #1C1E20;
    transition: background-color .1s ease-out, box-shadow .1s ease-out;
}


